In [ ]:
#Dhruti Bhundiya
#216270307016
#to create a dataframe from a dictionary and display it.
import pandas as pd

a = {
    'Name':['Dhruti','Namarta','Bansi','Bhumi'],
    'Age':[17,33,28,24],
    'University':['Porbandar','Valsad','Jamnager','Rajkot'],
}
print("Dictionary : - \n",a)

d = pd.DataFrame(a)
print("DataFrame :- \n",d)

In [ ]:
#Dhruti Bhundiya
#216270307016
# to sort the DataFrame first by 'name' in ascending order

import pandas as pd

a = {
    'Id':[101,102,103,104],
    'Name':['Dhruti','Namarta','Bansi','Bhumi'],
}

d = pd.DataFrame(a)

print("Before sorting:\n", d)

print("After sorting:\n", d.sort_values(by='Name',ascending=True))

In [ ]:
#Dhruti Bhundiya
#216270307016
# to delete the one specific column from the DataFrame
import pandas as pd

data = {
 'A': ['A1', 'A2', 'A3', 'A4', 'A5'],
 'B': ['B1', 'B2', 'B3', 'B4', 'B5'],
 'C': ['C1', 'C2', 'C3', 'C4', 'C5'],
 'D': ['D1', 'D2', 'D3', 'D4', 'D5'],
 'E': ['E1', 'E2', 'E3', 'E4', 'E5']
}

d = pd.DataFrame(data)

print("Before delete :- \n",d)

print("After delete :- \n",d.drop(['A'], axis=1))

In [ ]:
#216270307016
#Dhruti Bhundiya
#to write a DataFrame to CSV file using tab separator
import pandas as pd

import numpy as np

students = {
    'Student': ['Dhruti', 'Namarta','Bansi','Bhumi'],
    'RollNumber': [1, 5, 10, 15],
    'Grade': ['A', 'C', 'F', 'B']
}

d = pd.DataFrame(students, columns =['Student', 'RollNumber', 'Grade'])

print("Original DataFrame :- \n",d)

d.to_csv(r'Student.csv', sep ='\t')

new_d = pd.read_csv(r'Student.csv')

print('Data from Student.csv :- \n',new_d)